In [1]:
library(LinRegInteractive)

Loading required package: rpanel

Loading required package: tcltk

Package `rpanel', version 1.1-5: type help(rpanel) for summary information

Loading required package: xtable

In [2]:
data(munichrent03)
head(munichrent03,5)

  rent   rentsqm area rooms yearc bathextra bathtile cheating district location
1 741.39 10.90    68  2     1918  no        yes      yes      Lud-Isar good
2 715.82 11.01    65  2     1995  no        yes      yes      Lud-Isar good
3 528.25  8.38    63  3     1918  no        yes      yes      Lud-Isar good
4 553.99  8.52    65  3     1983  yes       yes      yes      Ram-Per  normal
5 698.21  6.98   100  4     1995  yes       yes      yes      Ram-Per  good
  upkitchen wwater
1 no        yes
2 no        yes
3 no        yes
4 no        yes
5 yes       yes

In [ ]:
#library(readr)
#write_csv(data, "Munich03.csv")